/* Constants Section */
* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'kumbh sans', sans-serif;
scroll-behavior: smooth;
}
/* Navbar section */
.navbar{
    background-color: #141414;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background: rgb(212,0,0);
    background: linear-gradient(284deg, rgba(212,0,0,1) 0%, rgba(0,0,0,1) 100%);
.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 0px;
}
#navbar__logo{
    font-family: cursive;
    background: rgb(255, 0, 0);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mox-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 775;
}
.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar__item{
    height: 80px;
}
.navbar__links{
    color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}
.navbar.btn{
    display : flex ;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100% ;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height : 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #ff0000;
    background: -webkit-linear-gradient(to right,#ff0000,#000000,#ffffff );
    background: linear-gradient(to right,#ff0000,#000000,#ffffff );
    color: #fff;
    transition: all 0.3s ease;
}
.navbar__links:hover {
color: #ff0000e0;
transition: all 0.5s ease;
font-size: larger;
font-weight: 500px;
}
@media screen and (max-width:960px){
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;

    }
    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.3s ease;
        z-index: -1;
    }
    .navbar__menu.active {
        background: #131313;
        top : 80px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }
    #navbar__logo {
        padding-left: 25px;
    }
    .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background : #ffffff;
    }
    .navbar__item{
        width: 100%;
    }
    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
        background: #fff; 
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
}
/* Hero section */
body{
    /* background: rgb(48, 48, 48); */
    /* background: linear-gradient(150deg, rgb(56, 56, 56) 0%, rgb(0, 0, 0) 100%); */
 }
.hero {
    padding: 0px 0;
}
.hero__container {
    background: rgb(48, 48, 48);
    background: linear-gradient(150deg, rgb(56, 56, 56) 0%, rgb(0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    min-height: 675px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}
 .hero__heading{
    font-size: 100px;
    margin-bottom: 24px;
    color: #ffffff;
    font-family:'cursive ';
    font-weight: bolder;
    padding-top: 0;
}

 .hero__heading span {
    box-shadow: 12px 12px 10px rgba(0,0,0,0.1);
    background: rgb(255,192,1);
    background: linear-gradient(347deg, rgba(255,192,1,1) 0%, rgba(255,1,1,1) 52%, rgba(255,117,57,1) 100%);
    color: #ffffff;
    border-radius: 20px;
    background-size: 100%;
    padding: 10px;
}

.hero__description {
    font-size: 60px;
    background: rgb(0, 68, 255);
    background-image: linear-gradient(100deg, #cc00ff 30%, #0026ff 60%, #ff0000c7 100%);
    color: #0013bbdc;
    border-radius: 3px;
    background-size: 100%;
    padding: 10px ;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.highlight{
    border-bottom: 20px solid rgb(0, 0, 0);
}
@media screen and (max-width: 768px){
    .hero__heading{
        font-size: 60px;
    }
    .hero__heading span{
        font-size: 100px;
    }
}
/* about section */
.main{
    background-color: #141414;
    padding: 1rem 0;
}
.main__container{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
.main__content{
    color: #fff;
    width: 100%;
    margin-top: 0;
    max-width: 75%;
    min-width: 45%;
    top: 0;
}

.main__content h1{
    background: rgb(255,192,1);
    background: linear-gradient(347deg, rgb(255, 198, 26) 0%, rgb(255, 22, 22) 52%, rgba(255,117,57,1) 100%);
    color: #ffffff;
    border-radius: 20px;
    background-size: 100%;
    padding: 10px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 3rem;
}

.main__content p{
    background-color: #2b2b2b;
    padding: 16px 10px;
    border-radius: 5px;
    font-size: 1.6rem;
    margin-top: 1rem;
    font-weight: 500;
}
 .main__btn{
    background: rgb(255,130,60);
    background: radial-gradient(circle, rgba(255,130,60,1) 8%, rgba(255,49,49,1) 76%);
    font-size: 1.9rem;
    padding: 10px 40px;
    border: none;
    border-radius: 15px;
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    transition: all 0.40s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #131313;
    text-decoration: none;
    font-weight: bolder;
}
.main__btn:hover{
    position: relative;
    z-index: 2;
    color: #272727;
    outline: #000000 solid 3px;
    border-radius: 30px;
}

.main__img{
    text-align: center;
    max-width: 110%;
    min-width: 300px;
    border-radius: 6px;
}

.main__img--card{
    margin: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(150deg,#fff 0% , #000 100%);
}
#fady{
    border-radius: 6px;
}
/* testamonial Section */
.test__body{
    /* background-color: #000; */
    background-image: url(images/graph-paper.jpg);
    min-height: 100vh;
    background-size: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    background-repeat: repeat-y;
    padding: 0;
}
.test__slider{
    top: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: row;

}

#ebis, #loay, #atlas, #quest{
    max-width: 100%;
    border-radius: 4px;
    border: 3px solid #000;
    width: 200px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item{
    aspect-ratio: 225 320;
    max-width: 225px;
    height: 320px;
    text-align: justify;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    transform: 0.5s;
    left: calc(50% - 110px);
    top: 0;
    z-index: 2;
    margin: 20px;
    flex-grow: 1;
    box-shadow: 10px 10px 12px rgba(0,0,0,0.5), -10px -10px 15px rgba(255, 255, 255, 0.6) ; 
    transition: all 0.5s ease-in;
}

.item:hover{
    transition: all 1s ease-in;
    max-width: 400px;
    height: 340px;
    justify-content: center;
    align-items: center;
    background-color: #ebebebe7;
    text-align: left;
}

.item img :hover{
    position: relative ;
    right: 50%;
}
h1{
font-family: 'Courier New', Courier, monospace;
}

#item-1 h1{
    font-size: 1.5rem;
}
#item-2 h1{
    font-size: 3rem;

}
#item-3 h1{
    font-size: 2.2rem;
}
#item-4 h1{
    font-size: 3rem;
}

/* Footer Section */
.footer__container{
    background: rgb(0,0,0);
    background: linear-gradient(347deg, rgba(0, 0, 0, 0.829) 2%, rgba(255,0,0,1) 22%, rgba(255,0,0,1) 49%, rgba(0, 0, 0, 0.788) 100%);
    padding: 2rem 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; 
}

.footer__links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; 
}

.footer__link--wrapper{
    display: flex;
}

.footer__link--items{
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 16px;
text-align: left;
width: 160px;
box-sizing: border-box;
}

.footer__link--items h2{
margin-bottom: 16px;
color: #fff;
filter: blur(0.1px);
font-family: monospace;
font-size: 2rem;
font-weight: bold;
}

.footer__link--items a{
    color: #ffffffbd;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    word-spacing: 0;
}

